<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="4.5.0" targetFramework="net48" />
  <package id="Flattinger.Core" version="1.0.0.1" targetFramework="net48" />
  <package id="Flattinger.UI.ToastMessage" version="1.0.0.3" targetFramework="net48" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="2.0.1" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks" version="4.11.0" targetFramework="net48" />
  <package id="Syncfusion.Compression.Base" version="28.1.36" targetFramework="net472" />
  <package id="Syncfusion.DocIO.Wpf" version="28.1.36" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="28.1.36" targetFramework="net472" />
  <package id="Syncfusion.OfficeChart.Base" version="28.1.36" targetFramework="net472" />
  <package id="Syncfusion.OfficeChartToImageConverter.WPF" version="28.1.36" targetFramework="net472" />
  <package id="Syncfusion.SfChart.WPF" version="28.1.36" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.AspNet" version="22.1.34" targetFramework="net472" />
</packages>